doctype html
-
	title = '博多執筆規定'
	url = {
		hakatashi: 'https://hakatashi.com/',
		CC0: 'https://creativecommons.org/publicdomain/zero/1.0/',
		repository: 'https://github.com/hakatashi/HakataWritingRules',
		originalURL: 'https://raw.githubusercontent.com/hakatashi/HakataWritingRules/master/HakataWritingRules.html',
	}

mixin example(text)
	p.example= '例: ' + text

html
	head
		title= title + ' ' + version
	body
		h1= title
			small= version

		h2 総則

		ol
			li 本文書の目的は、<a href="#{url.hakatashi}">博多市</a>が個人的に執筆する自然言語の文章の表記ルールを一定化することであり、これに類さない他の文章に即決的に適用されるものではない。また、書写など作文を伴わない執筆に適用されるものでもない。
			li 本文書の全体は、<a href="#{url.CC0}">CC0 1.0 Universal</a> のもとでライセンスされ、複製・改変・再配布・販売を含む一切の利用が許可される。これは本文書の過去のバージョンすべてに遡って適用される。
			li 本文書の原本は、<a href="#{url.repository}">#{url.repository}</a> にホスティングされる。最新のものは <a href="#{url.originalURL}">#{url.originalURL}</a> で入手することができる。
			li 本文書の規定は、日本語と英語の表記に対して適用され、その他の言語の表記については、特にこれを定めない。

		h2 日本語

		h3 文体

		ol
			li 現代日本語を用いる。

				+example('踏切前で電車が立ち往生という下衆みたいな状況に陥ってる')

				ol
					li 上代日本語、中古日本語、中世日本語、近世日本語を用いることによって文体に特別の効果が期待されるものは、この限りではない。

						+example('愛なき岸に花は咲かまし')

			li 現代仮名遣いを用いる。

				ol
					li 原則として、昭和61年内閣告示第1号に従う。

					li 以下の語は、次のとおりに表記する。

						ul
							li つまづく
								small (躓く)
							// ちからつきる(力尽きる)という単語が日常的に使用されることを考えると、複合語であることを意識した表記のほうが自然である。
							li ちからづく
								small (力尽く・力付く)

			li 標準語を用いる。

			li 常用漢字に規定された漢字は、その字体を用いる。

			li 常用漢字に規定されない漢字は、原則として正字とされるものを用い、拡張新字体は使用しない。

			li 昭和31年7月5日発表「国語審議会の建議と報告」にある、いわゆる「同音書き換え」について、原則として従うが、文脈に応じて適宜使い分ける。

				ol
					li 特に以下の語は、次の表記を本則とする。

						ul
							li 障碍
								small (「妨碍」などは用いない)
							li 惣菜
							li 頽廃
							li 篇
								small (「短篇」・「第一篇」なども同様)
							li 妄動
							li 聯合艦隊
								small (「聯合」単体では用いない)

			li 筆者自身を示す一人称は、詩作、歌作などの例外を除いて、一貫して「僕」を用いる。

			li 文中に事物を列挙する際は、「甲、乙、丙と丁」「甲と乙、丙、丁」などの表記を廃し、「甲、乙、丙、丁」を用いる。

		h3 外来語

		h3 記号

		h4 約物

		h4 数字

		h4 英単語

		ol
			li 日本語中にラテン文字もしくはキリル文字を用いて表記する外国語を記述する場合、以下の規則に従う。

				ul
					li 外国語が二語以上で構成される場合、その前後の文章との間に半角スペースを挿入する。

						ul
							li ただし、句読点のあとに続ける場合、外国語の手前には半角スペースを挿入しない。

					li 全角ラテン文字は、極めて特殊なケースを除いて使用しない。

		h3 日付・時間

		ol
			li 和暦および中国暦の紀年は「元年」とし、それ以外の暦では「1年」とする。

		h3 固有名詞

		ol
			li 原則として
